td:hover{ 
  background-color: #410832;
}
table, th, td {
  border: 5px solid white;
  border-collapse: collapse;
  border-style: inset
}
th, td {
  background-color: #a45b70;
  text-align: center;
  font-style: Algerian bold;
  color:white;
}
th{
  background-color:  #410832;
  color: aliceblue;
}