/* You can add global styles to this file, and also import other style files */
.selector {
    background-image: url("C:/Users/91984/Downloads/alienware-1662250850236-8581.jpg") ;
background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
